extends layout

block content
	h2 Getting to Orlando

	p We looked into group travel and all quotes provided from travel agencies and major airlines were $700+ for the flight alone. We thought this is too much and that booking flights separately will be cheaper. 

	h3 There are several ways to catch a flight to Orlando:
	ul
		li Fly from Winnipeg to Orlando (usually with one stopover, location depends on airline)
		li Drive to Grand Forks and fly via Allegiant Air (Destination: Sanford, FL - 30 miles from Orlando) 
		li Drive to Minneapolis and fly direct to Orlando
		li For non-Winnipeg residents, we apologize but the only option we can think off for you will be to fly from your location to Orlando, or drive down to Winnipeg and look into one of the three options previously stated.

	p We did the third option in 2012 so if you have any questions please feel free to ask. 

	p Here are some links to airlines and travel sites. 
		br
		| Please ensure to check all to compare and book the best deal possible for you. 

	ul 
		li 
			a(href='http://www.aircanada.com/en/home.html' target='_blank') Air Canada
		li 
			a(href='http://www.westjet.com/guest/en/home.shtml' target='_blank') West Jet
		li 
			a(href='http://www.delta.com/' target='_blank') Delta
		li 
			a(href='https://www.united.com/web/en-US/default.aspx?root=1'  target='_blank') United Airlines
		li 
			a(href='https://www.allegiantair.com/' target='_blank') Allegiant Air
		li 
			a(href='http://www.expedia.ca/' target='_blank') Expedia
		li 
			a(href='http://www.travelocity.ca/' target='_blank') Travelocity
		li 
			a(href='https://caamanitoba.tstllc.net/flight/' target='_blank') CAA
		li 
			a(href='http://www.cheapoair.ca/' target='_blank') Cheapoair

	p If there’s a site not listed with good deals, please let us know. 

	p We haven’t decided where we will be staying before the wedding. Places to consider in staying would be vacation town homes / condos instead of hotels for groups of people. We used 
		a(href='http://www.homeaway.com/' target='_blank') Homeaway
		|  when we went to Orlando in 2012. 
