extends layout

block content
	h2 Getting to Orlando

	p Mel and I looked into group travel. All quotes I was provided from several travel agencies and all major airlines was $700+ just for the flight alone. We thought that this is just way too much and that booking flights separately will probably be cheaper. 

	h3 There are several ways to catch a flight to Orlando:
	ul
		li Fly from Winnipeg to Orlando (usually with one stop over, location depends on airline)
		li Drive to Grand Forks and fly via Allegiant Air (Destination: Sanford, FL  - 30miles from Orlando) 
		li Drive to Minneapolis and fly direct to Orlando
		li For non-Winnipeg residents, I apologize but the only option I can think off for you will be to fly from your location to Orlando, or drive down to Winnipeg and look into one of the three options previously stated.

	p The sibs and I did the third option in 2012 so if you have any questions on please feel free to ask. 

	p Please note that the drive and fly option would work best in a group and may take time out of your vacation drive to the States. 

	p
		| Here are some links to airlines and travel sites. 
		br
		| Please ensure to check all to compare and book the best deal possible for you. 

	ul 
		li 
			a(href='http://www.aircanada.com/en/home.html' target='_blank') Air Canada
		li 
			a(href='http://www.westjet.com/guest/en/home.shtml' target='_blank') West Jet
		li 
			a(href='http://www.delta.com/' target='_blank') Delta
		li 
			a(href='https://www.united.com/web/en-US/default.aspx?root=1'  target='_blank') United Airlines
		li 
			a(href='https://www.allegiantair.com/' target='_blank') Allegiant Air
		li 
			a(href='http://www.expedia.ca/' target='_blank') Expedia
		li 
			a(href='http://www.travelocity.ca/' target='_blank') Travelocity
		li 
			a(href='https://caamanitoba.tstllc.net/flight/' target='_blank') CAA
		li 
			a(href='http://www.cheapoair.ca/' target='_blank') Cheapoair

	p If there’s a site I don’t have on the list with good deals, please let me know. 

	p Depending on when you get to Orlando, we can either party it up in Orlando or chill at the beach before the wedding. 

	p Mel and I haven’t decided where we will be staying before the wedding. We will let you all know when we have that all figured out. 
