extends layout

block content
	center
		div
			h1 Melvin Cruz - Jessica Axalan
			h3 Destination Wedding

			br
			table
				tr
					td When
					td : 
					td May 17, 2015
				tr
					td Where
					td : 
					td Port Canaveral Florida

