extends layout

block content
	div				
		h2 Welcome to our wedding information site. 

		p Mel and I hope the information provided helps with your travel plans if you will be coming out to Florida to share our special day with us. For those who will not be able to make it, we’ll celebrate when we get back to Winnipeg. 

		p At this point, we would like to give thanks to all our family and friends who showed their love, support and excitement for our upcoming wedding and big shout out to Herald for taking the time to create this site for us. 

		p.newLines
			| Much Love,
			| Mel & Jess

