extends layout

block content
	h2 Non-Sailing Guests

	p To those who have decided to stay on shore, Central Florida offers an array of attractions from beaches, amusement parks and shopping. You can stay ashore at Cocoa Beach or hit up the other beaches along the coast. 

	ul
		li 
			a(href='https://disneyworld.disney.go.com/' target='_blank') Disney World
		li 
			a(href='https://www.universalorlando.com/Home.aspx' target='_blank') Universal
		li 
			a(href='http://seaworldparks.com/en/seaworld-orlando/' target='_blank') Sea World
		li 
			a(href='http://www.discoverycove.com/' target='_blank') Discorvery Cove
		li 
			a(href='http://www.gatorland.com/' target='_blank') Gator Land
		li 
			a(href='http://www.premiumoutlets.com/outlets/outlet.asp?id=96' target='_blank') Simon Premium Outlet - International Drive
		li 
			a(href='http://www.premiumoutlets.com/outlets/outlet.asp?id=17' target='_blank') Simon Premium Outlet - Vineland Avenue
		li 
			a(href='http://www.simon.com/mall/the-florida-mall' target='_blank') Florida Mall
		li 
			a(href='http://www.mallatmillenia.com/' target='_blank') Mall at Millenia

	p Once you’re done with all the theme parks and shopping, why not take a quick 
		a(href='http://www.orlandohelitours.com/' target='_blank') helicopter ride?

	p Lastly, with it being the start of playoff season, imagine Orlando Magic making it to the playoffs – 7
		sup th
		|  or 8
		sup th
		|  seed and being able to catch a game against Orlando and the #1 or #2 team in the East?! And depending on your team preference, maybe take the 4 hour drive to Miami and catch a Heat game instead.  Hopefully the game doesn’t land on the day we are sailing so we can all watch the game. 

	