extends layoutForms

block content
	div#wrapper
		form.login-form(action='/registerUser', method='post')
			div.header
				h1.signup Sign Up
			div.form-content
				input.input.username(type='text' name='username' placeholder='Username')
				input.input.password(type='password' name='password' placeholder='Password')
				input.input.password(type='password' name='verifyPassword' placeholder='Verify Password')

			div.footer
				input.button(type='submit' name='submit' value='register')