extends layout

block content
	h2 Sailing Guests

	p We inquired about group rates and in order to qualify as a group, we need a minimum of 8 cabins and 16 guests, based on double occupancy. There is no discounted rates for going as a group, they just give amenities by going as a group. For example, for every 8 rooms and 16 guests, the group will earn 1 free credit based on the 16th guest cruise rate, not including cruise fees & NCFs. The group also receives Fun Points or amenity points that can be redeemed towards gifts on board such as Photo coupons, a bottle of wine or on board credit.

	p To those who are undecided, we hope the information found on the Carnival Sensation website, port of calls and excursions will help you make your decision. For those who have decided to sail with us, we can’t wait to continue the party with you.  

	h3 Itinerary – 
		a(href='http://www.carnival.com/cruise-ships/carnival-sensation.aspx' target='_blank') Carnival Sensation
	table.info
		thead 
			tr
				th DATE 	
				th PORT
				th ARRIVE
				th DEPART 
		tbody
			tr
				td May 17
				td 
					a(href='http://www.carnival.com/sublayouts/cclus/destinations/Port/portofcalllightbox.aspx?portCodeList=PCV' target='_blank') Port Canaveral (Orlando), FL 
				td
				td 4:00 PM 
			tr 
				td May 18 
				td 
					a(href='http://www.carnival.com/sublayouts/cclus/destinations/Port/portofcalllightbox.aspx?portCodeList=FPO' target='_blank') Freeport, the Bahamas 
				td 8:00 AM 
				td 5:00 PM 
			tr 
				td May 19
				td 
					a(href='http://www.carnival.com/sublayouts/cclus/destinations/Port/portofcalllightbox.aspx?portCodeList=NAS' target='_blank') Nassau, the Bahamas 
				td 8:00 AM 
				td 5:00 PM 
			tr 
				td May 20
				td ... Fun Day At Sea 
				td --- 
				td --- 
			tr 
				td May 21
				td 
					a(href='http://www.carnival.com/sublayouts/cclus/destinations/Port/portofcalllightbox.aspx?portCodeList=PCV' target='_blank') Port Canaveral (Orlando), FL 
				td 7:00 AM 	
				td

	br
	p Group shore excursions? 
	
	p The unfortunate matter about the cruise is that drinks are not inclusive. Please read about 
		a(href='http://www.cruisin.me/info/carnival-cruise-lines/cheers-beverage-program.php' target='_blank') Cheers program
		|  if you plan to go on the cruise
