extends layout

block content
	h2 Sailing Guests

	p We’re married and now it’s time to sail away. To those who have decided to sail away with us, you probably have looked at the information already. But if you want a refresher, here’s the information again. 

	p We’re to off to Bahamas, back to shore on Thursday. 

	h3 Itinerary – 
		a(href='http://www.carnival.com/cruise-ships/carnival-sensation.aspx' target='_blank') Carnival Sensation
	table
		thead 
			tr
				th DAY 	
				th PORT
				th ARRIVE
				th DEPART 
		tbody
			tr
				td Day 1 
				td 
					a(href='http://www.carnival.com/sublayouts/cclus/destinations/Port/portofcalllightbox.aspx?portCodeList=PCV' target='_blank') Port Canaveral (Orlando), FL 
				td
				td 4:00 PM 
			tr 
				td Day 2 
				td 
					a(href='http://www.carnival.com/sublayouts/cclus/destinations/Port/portofcalllightbox.aspx?portCodeList=FPO' target='_blank') Freeport, the Bahamas 
				td 8:00 AM 
				td 5:00 PM 
			tr 
				td Day 3 
				td 
					a(href='http://www.carnival.com/sublayouts/cclus/destinations/Port/portofcalllightbox.aspx?portCodeList=NAS' target='_blank') Nassau, the Bahamas 
				td 8:00 AM 
				td 5:00 PM 
			tr 
				td Day 4 
				td ... Fun Day At Sea 
				td --- 
				td --- 
			tr 
				td Day 5 
				td 
					a(href='http://www.carnival.com/sublayouts/cclus/destinations/Port/portofcalllightbox.aspx?portCodeList=PCV' target='_blank') Port Canaveral (Orlando), FL 
				td 7:00 AM 	
				td

	br
	h3 Group shore excursions? 
	p How about a drink? Have you read about the 
		a(href='http://www.cruisin.me/info/carnival-cruise-lines/cheers-beverage-program.php' target='_blank') Cheers program
		|  while aboard the ship?
