extends layout

block content
	h2 Wedding Day

	p Our day has finally arrived. To have everything run smoothly, please take the time to read the information below before the wedding. We need everyone to arrive at the cruise terminal ready to board the ship with all required documents and identification at 
		b 10:30 am. 
		| Once US Customs has cleared the ship for boarding, we will be boarding the ship together before other passengers get on the ship… Priority boarding! 

	ul
		li 
			a(href='/downloads/Wedding Day - Directions and Parking.pdf' target='_blank') Direction and Parking
		li 
			a(href='/downloads/Wedding Day - Important Notice.pdf' target='_blank') Important Notice
		li 
			a(href='/downloads/Wedding Day - Security Requirements.pdf' target='_blank') Security Requirements
		li 
			a(href='/downloads/Wedding Day - Boarding Info & Reminders.pdf' target='_blank') Boarding Information and Reminders
		li 
			a(href='/downloads/Wedding Day - Boarding Procedures.pdf' target='_blank') Boarding Procedures
		li 
			a(href='/downloads/Wedding Day - Embarkation & Required Documents.pdf' target='_blank') Embarkation & Required Travel Documents

	p We apologize for the duplicate information. Carnival sent us the documents so we thought we share it with all of you. 

	p The wedding ceremony will take place around 1 pm followed by a reception. Confirmed time will be provided closer to the wedding. 

	h3 More information to follow regarding: 
	ul
		li Location of the ceremony
		li Bridal Party
		li Ceremony Details
		li Lunch Menu
