extends layout

block content
	h2 Wedding Day

	p Our day has finally arrived. To have everything run smoothly, please take the time to read the information below before the wedding. We need everyone ready to board the ship with all required documents and identification at 10:30 am. We will be boarding the ship together before other passengers get on the ship… Priority boarding! 

	h3 Documentation:
	ul
		li 
			a(href='/downloads/Wedding Day - Directions and Parking.pdf' target='_blank') Direction and Parking
		li 
			a(href='/downloads/Wedding Day - Important Notice.pdf' target='_blank') Important Notice
		li 
			a(href='/downloads/Wedding Day - Security Requirements.pdf' target='_blank') Security Requirements
		li 
			a(href='/downloads/Wedding Day - Boarding Info & Reminders.pdf' target='_blank') Boarding Information and Reminders
		li 
			a(href='/downloads/Wedding Day - Boarding Procedures.pdf' target='_blank') Boarding Procedures
		li 
			a(href='/downloads/Wedding Day - Embarkation & Required Documents.pdf' target='_blank') Embarkation

	p I apologize for the duplication of information. Carnival sent me the documents so thought I would share with all of you. 

	h3 More information to follow regarding: 
	ul
		li Location and time of the ceremony
		li Bridal Party
		li Ceremony Details
		li Lunch Menu
