/*******************************************************
	NAVIGATION
*******************************************************/
.navigation {
	display: inline-block;
	width: 225px;
	height: 120%;
	vertical-align: top;
	background-color: #eee;
	border: 1px solid #aaa;
}

.navigation ul {
	list-style-type: none;
	margin: 0;
	padding: 0px;
}

.navigation ul li {
	font-weight: bold;
	margin: -1;
	padding: 10px;
	border: 1px solid #aaa;
}

.navigation ul li:first-child {
	height: 30px;
}

.navigation ul li:hover {
	background-color: #aaa;
}

.navigation ul li a {
	display: block;
	text-decoration: none;
	color: black;
}

.navigation ul li a:visited {
	color: black;
}

.navigation ul li:hover a {
	color: white;
}