@font-face {
	font-family: 'reditum';
	src: url('/font/Reditum.ttf'), url('/font/Reditum.eot');
}

* {
	font-family: Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}

html, body {
	height: 100%;
}

body {
	background: #d1d1d1;
	/*background: url('/img/background.jpg'); 
	background-size: cover;*/
	margin: auto;
	/*min-height: 600px;*/
	width: 800px;
}

.header {
	margin: auto;
} 

.header .logo-container .logo img {
	width: 100%;
}

header {
	z-index: 10;
	position: relative;
	width: 100%;
	height: 125px;
	background: #3890bd;
	color: white;
	border-bottom: dashed black;
	text-align: center;
}
	
header h1 {
	padding: 20px 20px 10px 20px;
	font-size: 30pt;
	line-height: 100%;
	/*font-family: 'reditum';*/
}/* h1 */

header span {
	margin-top: 5px;
	display: block;
}/* span */

header input {
	display: none;
}/* input */


/*******************************************************
	NAVIGATION
*******************************************************/
.navigation {
	display: inline-block;
	width: 225px;
	/*max-height: 600px;*/
	vertical-align: top;

	/*background-color: red;*/
}

.navigation ul {
	list-style-type: none;
	margin: 0;
	padding: 15px;
}

.navigation ul li {
	margin: 5px 0;
	font-weight: bold;
}

/*******************************************************
	CONTENT
*******************************************************/
.main-container {
	background-color: white;
	/*background: url('/img/bahamas.png'); 
	background-size: cover;*/
	border-top: 2px solid;
	border-color: rgba(213, 213, 213, 1);
	min-height: 800px;
	/*max-height: 600px;*/
	/*height: 100%;*/
}

.content {
	display: inline-block;
	width: 550px;
	/*height: 590px;*/
	/*height: 100%;*/
	overflow: scroll;
	padding: 10px 10px 0px 10px;

	text-align: center;

	/*background-color: green;*/
}

p {
	display: block;
	margin: 15px;
	padding: 0 50px;
}

p.newLines {
	white-space: pre;
}

ul {
	text-align: left;
	margin: 5px 15px 15px 15px;
	padding: 0 50px;
}

ul li {
	margin-bottom: 5px;
}

table.info {
	width: 100%;
	text-align: center;
	border: 1px solid black;
}

table.info tr:first-child th {
	background-color: #3890bd;
	border: 0px solid #000000;
	font-size:14px;
	color:#ffffff;
	padding: 10px;
}
table.info tr:nth-child(even) { background-color:#cccccc; }
table.info tr:nth-child(odd) { background-color:#ffffff; }

.contact table {
	width: 100%;
	text-align: center;
}

.contact table td {
	padding-top: 10px;
}

.contact .input {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 400;
	font-size: 14px;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
	
	background: #fff;
	border: 1px solid #fff;
	border-radius: 5px;
	
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);

	width: 100%;
	padding: 10px;
}

.contact .input:hover {
	background: #dfe9ec;
	color: #414848;
}

.contact .input:focus {
	background: #dfe9ec;
	color: #414848;
	
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
}

.contact .button {
	padding: 11px 25px;
	
	font-family: 'Bree Serif', serif;
	font-weight: 300;
	font-size: 18px;
	color: #fff;
	text-shadow: 0px 1px 0 rgba(0,0,0,0.25);
	
	background: #56c2e1;
	border: 1px solid #46b3d3;
	border-radius: 5px;
	cursor: pointer;
	
	box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	-moz-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	-webkit-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
}

.contact .button:hover {
	background: #3f9db8;
	border: 1px solid rgba(256,256,256,0.75);
	
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
}

.error {
	width: 425px;
	height: 50px;
	margin: 0 auto;
	padding-top: 20px;
	background-color: #da4f49;
	border-radius: 20px;
}

.success {
	width: 425px;
	height: 50px;
	margin: 0 auto;
	padding-top: 20px;
	background-color: #51a351;
	border-radius: 20px;
}

/*******************************************************
	FOOTER
*******************************************************/
footer {
	background: #3890bd;
	color: white;

	bottom: 0px;
	height: 55px;
	border-top: dashed black;
}/* #footer */

footer a {
	text-decoration: none;
}/* a */

footer .icon-links {
	padding: 20px;
	width: 200px;
	margin: 0 auto;
}/* .icon-links */




/*@media screen and (min-width: 640px) {
	body {
		
	}

	footer {
		width: 800px;
	}

	.menu-trigger {
		display: none;
		border: 0;
	}

	.tabs {
		top: 181px;
		position: absolute;
	}

	.tabs > ul > li {
		float: left;
		height: 20px;
	}

	.tabs ul li a {
		font: 16px/40px sans-serif;
		position: relative;
		padding: 0 30px;
		margin: 0 2px 0 0;
		border-radius: 6px 6px 0 0;
		box-shadow: 2px 0 1px rgba(0,0,0,0.1), -2px 0 2px rgba(0,0,0,0.1);
	}
}


/* Media Queries *
@media screen and (max-width: 640px) {
	body {
		width: 640px;
	}

	.tabs a {
		height: 40px;
		font: 25px/40px sans-serif;
		display: inline-block;
		color: #666;
		text-align: center;
		text-decoration: none;
		width: 100%;
	}
}
*/